.idea/
.idea/httpRequests/http-requests-log.http

*/node_modules

*/.env

server/http/http-client.env.json
server/http/http-client.private.env.json
server/index.html
server/http/login.http
server/dump.rdb

/server/migrations/*
